{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "IVR CALLING PROGRAM",
    "description": "api-docs"
  },

  "schemes": ["https", "http"],

  "host": "ivr-microservice-api.devtrust.biz",

  "basepath": "/",
  "tags": [
    {
      "name": "IVR Calling",
      "description": "end point"
    }
  ],

  "securityDefinitions": {
    "Authorization": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "API-DOCS "
    }
  },
  "security": [
    {
      "Authorization": []
    }
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/createAssignedServices": {
      "post": {
        "tags": ["ASSIGNED SERVICES  API"],
        "summary": "This Api creates assigned services ",
        "description": "it takes given  payload and give it to response ",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "employeeId": { "type": "string", "required": true },
                "clientId": { "type": "string", "required": true },
                "taskId": {
                  "type": "object",
                  "required": true,
                  "example": []
                },
                "serviceId": { "type": "string", "required": true },
                "servicesStatus": { "type": "string", "required": true }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "default": true
                },
                "data": {
                  "type": "object",
                  "example": {
                    "employeeId": "6b7e4dcd-c3f7-4198-9ad7-997627ea4851",
                    "clientId": "1d1a5326-c054-4f0d-90f0-4e14b90ff066",
                    "taskId": [
                      {
                        "task": "9dba1499-d516-4842-bd5f-686e35caff9d"
                      },
                      {
                        "task": "1d1a5326-c054-4f0d-90f0-4e14b90ff066"
                      },
                      {
                        "task": "1d1a5326-c054-4f0d-90f0-4e14b90ff066"
                      }
                    ],
                    "serviceId": "9266169e-75c5-4c5e-8a9d-b873a7529e26",
                    "servicesStatus": "inProgress",
                    "agencyId": "c65a0403-bd6b-47ed-a82a-76e23943b085",
                    "id": "ab2c429b-9558-44a5-a088-0a9173ebe301",
                    "createdOn": "2023-06-01T13:09:47.827Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "succes": {
                  "type": "boolean",
                  "example": false
                },
                "result": {
                  "type": "object",
                  "example": "something went weong"
                }
              }
            }
          }
        }
      }
    },
    "/getAssignedServices": {
      "post": {
        "tags": ["ASSIGNED SERVICES  API"],
        "summary": "This Api gives get  assignedServices data ",
        "description": "please provide in payload only id ",
        "parameters": [
          {
            "in": "body",
            "name": "request body",
            "required": true,
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },

                "result": {
                  "type": "object",
                  "example": {
                    "employeeId": "6b7e4dcd-c3f7-4198-9ad7-997627ea4851",
                    "clientId": "1d1a5326-c054-4f0d-90f0-4e14b90ff066",
                    "taskId": [
                      {
                        "task": "9dba1499-d516-4842-bd5f-686e35caff9d"
                      },
                      {
                        "task": "1d1a5326-c054-4f0d-90f0-4e14b90ff066"
                      },
                      {
                        "task": "1d1a5326-c054-4f0d-90f0-4e14b90ff066"
                      }
                    ],
                    "serviceId": "9266169e-75c5-4c5e-8a9d-b873a7529e26",
                    "servicesStatus": "inProgress",
                    "agencyId": "c65a0403-bd6b-47ed-a82a-76e23943b085",
                    "id": "ab2c429b-9558-44a5-a088-0a9173ebe301",
                    "createdOn": "2023-06-01T13:09:47.827Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "message": {
                  "type": "string",
                  "example": "error message"
                },
                "result": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/getAllAssignedServices": {
      "post": {
        "tags": ["ASSIGNED SERVICES  API"],
        "summary": "This Api gives All the data of  assigned sevices ",
        "description": "",

        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },

                "result": {
                  "type": "object",
                  "example": [
                    {
                      "employeeId": "6b7e4dcd-c3f7-4198-9ad7-997627ea4851",
                      "clientId": "1d1a5326-c054-4f0d-90f0-4e14b90ff066",
                      "taskId": [
                        {
                          "task": "9dba1499-d516-4842-bd5f-686e35caff9d"
                        },
                        {
                          "task": "1d1a5326-c054-4f0d-90f0-4e14b90ff066"
                        },
                        {
                          "task": "1d1a5326-c054-4f0d-90f0-4e14b90ff066"
                        }
                      ],
                      "serviceId": "9266169e-75c5-4c5e-8a9d-b873a7529e26",
                      "servicesStatus": "inProgress",
                      "agencyId": "c65a0403-bd6b-47ed-a82a-76e23943b085",
                      "id": "ab2c429b-9558-44a5-a088-0a9173ebe301",
                      "createdOn": "2023-06-01T13:09:47.827Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "message": {
                  "type": "string",
                  "example": "error message"
                },
                "result": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/deleteAssignedServices": {
      "post": {
        "tags": ["ASSIGNED SERVICES  API"],
        "summary": "This api deletes assigned services ",
        "description": "it takes id only and and id is an uuid",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "deleted successfully",
            "schema": {
              "type": "object",
              "properties": {
                "succes": {
                  "type": "boolean",
                  "example": true
                },
                "result": {
                  "type": "object",
                  "example": "deleted successfully"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "succes": {
                  "type": "boolean",
                  "example": false
                },
                "result": {
                  "type": "object",
                  "example": "something went weong"
                }
              }
            }
          }
        }
      }
    },
    "/updateAssignedServices": {
      "post": {
        "tags": ["ASSIGNED SERVICES  API"],
        "summary": "This Api update the  assgined services",
        "description": "it takes given  payload and give it to response ",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "employeeId": { "type": "string", "required": true },
                "clientId": { "type": "string", "required": true },
                "taskId": {
                  "type": "object",
                  "required": true,
                  "example": []
                },
                "serviceId": { "type": "string", "required": true },
                "servicesStatus": { "type": "string", "required": true }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "default": true
                },
                "data": {
                  "type": "object",
                  "example": {
                    "employeeId": "6b7e4dcd-c3f7-4198-9ad7-997627ea4851",
                    "clientId": "1d1a5326-c054-4f0d-90f0-4e14b90ff066",
                    "taskId": [
                      {
                        "task": "9dba1499-d516-4842-bd5f-686e35caff9d"
                      },
                      {
                        "task": "1d1a5326-c054-4f0d-90f0-4e14b90ff066"
                      },
                      {
                        "task": "1d1a5326-c054-4f0d-90f0-4e14b90ff066"
                      }
                    ],
                    "serviceId": "9266169e-75c5-4c5e-8a9d-b873a7529e26",
                    "servicesStatus": "inProgress",
                    "agencyId": "c65a0403-bd6b-47ed-a82a-76e23943b085",
                    "id": "ab2c429b-9558-44a5-a088-0a9173ebe301",
                    "createdOn": "2023-06-01T13:09:47.827Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "succes": {
                  "type": "boolean",
                  "example": false
                },
                "result": {
                  "type": "object",
                  "example": "something went weong"
                }
              }
            }
          }
        }
      }
    }
  }
}
