{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "IVR CALLING PROGRAM",
    "description": "api-docs"
  },

  "schemes": ["https", "http"],

  "host": "ivr-microservice-api.devtrust.biz",

  "basepath": "/",
  "tags": [
    {
      "name": "IVR Calling",
      "description": "end point"
    }
  ],

  "securityDefinitions": {
    "Authorization": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "API-DOCS "
    }
  },
  "security": [
    {
      "Authorization": []
    }
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/createClient": {
      "post": {
        "tags": ["CLIENT API"],
        "summary": "This Api creates clients ",
        "description": "it takes given  payload and give it to response ",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string",
                  "required": true
                },
                "middleName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "aliasName": {
                  "type": "string"
                },
                "gender": {
                  "type": "string",
                  "required": true
                },
                "ssn": {
                  "type": "string"
                },
                "dateOfBirth": {
                  "type": "string",
                  "required": true
                },
                "maritalStatus": {
                  "type": "string"
                },
                "employmentStatus": {
                  "type": "string"
                },
                "contactReference": {
                  "type": "string"
                },
                "referralType": {
                  "type": "string"
                },
                "referral": {
                  "type": "string"
                },
                "emailId": {
                  "type": "string",
                  "required": true
                },
                "state": {
                  "type": "string"
                },
                "contactsReference": {
                  "type": "string"
                },
                "preferredContactMethod": {
                  "type": "string"
                },
                "maNumber": {
                  "type": "string"
                },
                "physicians": {
                  "type": "string"
                },
                "payorProviderNumbers": {
                  "type": "string"
                },
                "approvedDate": {
                  "type": "string"
                },
                "intakeApprovedBy": {
                  "type": "string"
                },
                "intakeNotes": {
                  "type": "string"
                },
                "assessmentNotes": {
                  "type": "string"
                },
                "welcomeLetterDate": {
                  "type": "string"
                },
                "dateOfAssessment": {
                  "type": "string"
                },
                "assessmentDoneBy": {
                  "type": "string"
                },
                "customAttributes": {
                  "type": "string"
                },
                "onboardingStage": {
                  "type": "string"
                },
                "identity": {
                  "type": "string"
                },
                "caseManagerId": {
                  "type": "string"
                },
                "rejectionReasonCode": {
                  "type": "string"
                },
                "isActive": {
                  "type": "string"
                },
                "readyStatus": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "default": true
                },
                "data": {
                  "type": "object",
                  "example": {
                    "EMAIL_ID": "afdaffy@fhalhy",
                    "AGENCY_NAME": "devtrust",
                    "SHORT_NAME": "DT",
                    "FEDERAL_TAX_ID": "1234",
                    "PRY_CONTACT_REF_ID": "123",
                    "ADDR_HOUSE_NO": "101",
                    "ADDR_LINE1": "Kamta Lko",
                    "ADDR_LINE2": "gomtinagar",
                    "ADDR_LOCALITY": "Lko",
                    "ADDR_CITY": "lko",
                    "ADDR_STATE": "up",
                    "ADDR_COUNTRY": "india",
                    "POSTAL_CODE": "20223",
                    "PRI_PHONE_NUM": "82729437",
                    "ALT_PHONE_NUM": "ALT_PHONE_NUM",
                    "PASSCODE": null,
                    "id": "06a96652-552d-4181-a848-4f31d4a0622b",
                    "createdOn": "2023-05-31T09:45:55.514Z",
                    "updatedOn": "2023-05-31T09:45:55.514Z"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "succes": {
                  "type": "boolean",
                  "example": false
                },
                "result": {
                  "type": "object",
                  "example": "something went weong"
                }
              }
            }
          }
        }
      }
    },
    "/getClient": {
      "post": {
        "tags": ["CLIENT API"],
        "summary": "This Api gives get  client data ",
        "description": "please provide in payload only id ",
        "parameters": [
          {
            "in": "body",
            "name": "request body",
            "required": true,
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },

                "result": {
                  "type": "object",
                  "example": {
                    "clientResult": {
                      "clientId": "1",
                      "title": "ivr",
                      "firstName": "ivr",
                      "middleName": "calling",
                      "lastName": "company",
                      "aliasName": "ivr calling",
                      "gender": "male",
                      "ssn": "123",
                      "dateOfBirth": "1997/08/17",
                      "maritalStatus": "single",
                      "employmentStatus": "open",
                      "contactReference": "NA",
                      "referralType": "NA",
                      "referral": "NA",
                      "emailId": "self@gmail.com",
                      "state": "up",
                      "contactsReference": "dt",
                      "preferredContactMethod": "typeorm",
                      "maNumber": "583904834",
                      "physicians": "NO",
                      "payorProviderNumbers": "234234",
                      "approvedDate": "2023/09/09",
                      "intakeApprovedBy": "ambuj",
                      "intakeNotes": "Hi it me",
                      "assessmentNotes": "hi there",
                      "welcomeLetterDate": "2023/05/03",
                      "dateOfAssessment": "023",
                      "assessmentDoneBy": "string",
                      "customAttributes": "string",
                      "onboardingStage": "string",
                      "identity": "string",
                      "caseManagerId": "string",
                      "rejectionReasonCode": "123",
                      "isActive": "yes",
                      "readyStatus": "open",
                      "passcode": null,
                      "age": null,
                      "phoneNumber": null,
                      "id": "6ca7f186-50d5-42d3-9546-63f4fa493fc0",
                      "createdOn": "2023-05-26T07:05:38.500Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "message": {
                  "type": "string",
                  "example": "error message"
                },
                "result": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/getAllClient": {
      "post": {
        "tags": ["CLIENT API"],
        "summary": "This Api gives All the data of  client",
        "description": "",

        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },

                "result": {
                  "type": "object",
                  "example": [
                    {
                      "clientResult": {
                        "clientId": "1",
                        "title": "ivr",
                        "firstName": "ivr",
                        "middleName": "calling",
                        "lastName": "company",
                        "aliasName": "ivr calling",
                        "gender": "male",
                        "ssn": "123",
                        "dateOfBirth": "1997/08/17",
                        "maritalStatus": "single",
                        "employmentStatus": "open",
                        "contactReference": "NA",
                        "referralType": "NA",
                        "referral": "NA",
                        "emailId": "self@gmail.com",
                        "state": "up",
                        "contactsReference": "dt",
                        "preferredContactMethod": "typeorm",
                        "maNumber": "583904834",
                        "physicians": "NO",
                        "payorProviderNumbers": "234234",
                        "approvedDate": "2023/09/09",
                        "intakeApprovedBy": "ambuj",
                        "intakeNotes": "Hi it me",
                        "assessmentNotes": "hi there",
                        "welcomeLetterDate": "2023/05/03",
                        "dateOfAssessment": "023",
                        "assessmentDoneBy": "string",
                        "customAttributes": "string",
                        "onboardingStage": "string",
                        "identity": "string",
                        "caseManagerId": "string",
                        "rejectionReasonCode": "123",
                        "isActive": "yes",
                        "readyStatus": "open",
                        "passcode": null,
                        "age": null,
                        "phoneNumber": null,
                        "id": "6ca7f186-50d5-42d3-9546-63f4fa493fc0",
                        "createdOn": "2023-05-26T07:05:38.500Z"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "message": {
                  "type": "string",
                  "example": "error message"
                },
                "result": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/deleteClient": {
      "post": {
        "tags": ["CLIENT API"],
        "summary": "This api deletes Client ",
        "description": "it takes id only and and id is an uuid",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "deleted successfully",
            "schema": {
              "type": "object",
              "properties": {
                "succes": {
                  "type": "boolean",
                  "example": true
                },
                "result": {
                  "type": "object",
                  "example": "deleted successfully"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "succes": {
                  "type": "boolean",
                  "example": false
                },
                "result": {
                  "type": "object",
                  "example": "something went weong"
                }
              }
            }
          }
        }
      }
    },
    "/updateClient": {
      "post": {
        "tags": ["CLIENT API"],
        "summary": "This Api update the  Clients",
        "description": "it takes given  payload and give it to response ",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string",
                  "required": true
                },
                "middleName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "aliasName": {
                  "type": "string"
                },
                "gender": {
                  "type": "string",
                  "required": true
                },
                "ssn": {
                  "type": "string"
                },
                "dateOfBirth": {
                  "type": "string",
                  "required": true
                },
                "maritalStatus": {
                  "type": "string"
                },
                "employmentStatus": {
                  "type": "string"
                },
                "contactReference": {
                  "type": "string"
                },
                "referralType": {
                  "type": "string"
                },
                "referral": {
                  "type": "string"
                },
                "emailId": {
                  "type": "string",
                  "required": true
                },
                "state": {
                  "type": "string"
                },
                "contactsReference": {
                  "type": "string"
                },
                "preferredContactMethod": {
                  "type": "string"
                },
                "maNumber": {
                  "type": "string"
                },
                "physicians": {
                  "type": "string"
                },
                "payorProviderNumbers": {
                  "type": "string"
                },
                "approvedDate": {
                  "type": "string"
                },
                "intakeApprovedBy": {
                  "type": "string"
                },
                "intakeNotes": {
                  "type": "string"
                },
                "assessmentNotes": {
                  "type": "string"
                },
                "welcomeLetterDate": {
                  "type": "string"
                },
                "dateOfAssessment": {
                  "type": "string"
                },
                "assessmentDoneBy": {
                  "type": "string"
                },
                "customAttributes": {
                  "type": "string"
                },
                "onboardingStage": {
                  "type": "string"
                },
                "identity": {
                  "type": "string"
                },
                "caseManagerId": {
                  "type": "string"
                },
                "rejectionReasonCode": {
                  "type": "string"
                },
                "isActive": {
                  "type": "string"
                },
                "readyStatus": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "default": true
                },
                "data": {
                  "type": "object",
                  "example": {
                    "clientResult": {
                      "clientId": "1",
                      "title": "ivr",
                      "firstName": "ivr",
                      "middleName": "calling",
                      "lastName": "company",
                      "aliasName": "ivr calling",
                      "gender": "male",
                      "ssn": "123",
                      "dateOfBirth": "1997/08/17",
                      "maritalStatus": "single",
                      "employmentStatus": "open",
                      "contactReference": "NA",
                      "referralType": "NA",
                      "referral": "NA",
                      "emailId": "self@gmail.com",
                      "state": "up",
                      "contactsReference": "dt",
                      "preferredContactMethod": "typeorm",
                      "maNumber": "583904834",
                      "physicians": "NO",
                      "payorProviderNumbers": "234234",
                      "approvedDate": "2023/09/09",
                      "intakeApprovedBy": "ambuj",
                      "intakeNotes": "Hi it me",
                      "assessmentNotes": "hi there",
                      "welcomeLetterDate": "2023/05/03",
                      "dateOfAssessment": "023",
                      "assessmentDoneBy": "string",
                      "customAttributes": "string",
                      "onboardingStage": "string",
                      "identity": "string",
                      "caseManagerId": "string",
                      "rejectionReasonCode": "123",
                      "isActive": "yes",
                      "readyStatus": "open",
                      "passcode": null,
                      "age": null,
                      "phoneNumber": null,
                      "id": "6ca7f186-50d5-42d3-9546-63f4fa493fc0",
                      "createdOn": "2023-05-26T07:05:38.500Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "succes": {
                  "type": "boolean",
                  "example": false
                },
                "result": {
                  "type": "object",
                  "example": "something went weong"
                }
              }
            }
          }
        }
      }
    },
    "/filterClient": {
      "post": {
        "tags": ["CLIENT API"],
        "summary": "This Api gives get  serach section where you can check out data by giving sort things  ",
        "description": "this api is filter the client name email pascode etch ",
        "parameters": [
          {
            "in": "body",
            "name": "request body",
            "required": true,
            "schema": {
              "properties": {
                "search": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },

                "result": {
                  "type": "object",
                  "example": [
                    {
                      "clientResult": {
                        "clientId": "1",
                        "title": "ivr",
                        "firstName": "ivr",
                        "middleName": "calling",
                        "lastName": "company",
                        "aliasName": "ivr calling",
                        "gender": "male",
                        "ssn": "123",
                        "dateOfBirth": "1997/08/17",
                        "maritalStatus": "single",
                        "employmentStatus": "open",
                        "contactReference": "NA",
                        "referralType": "NA",
                        "referral": "NA",
                        "emailId": "self@gmail.com",
                        "state": "up",
                        "contactsReference": "dt",
                        "preferredContactMethod": "typeorm",
                        "maNumber": "583904834",
                        "physicians": "NO",
                        "payorProviderNumbers": "234234",
                        "approvedDate": "2023/09/09",
                        "intakeApprovedBy": "ambuj",
                        "intakeNotes": "Hi it me",
                        "assessmentNotes": "hi there",
                        "welcomeLetterDate": "2023/05/03",
                        "dateOfAssessment": "023",
                        "assessmentDoneBy": "string",
                        "customAttributes": "string",
                        "onboardingStage": "string",
                        "identity": "string",
                        "caseManagerId": "string",
                        "rejectionReasonCode": "123",
                        "isActive": "yes",
                        "readyStatus": "open",
                        "passcode": null,
                        "age": null,
                        "phoneNumber": null,
                        "id": "6ca7f186-50d5-42d3-9546-63f4fa493fc0",
                        "createdOn": "2023-05-26T07:05:38.500Z"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "message": {
                  "type": "string",
                  "example": "error message"
                },
                "result": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}
