{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "IVR CALLING PROGRAM",
    "description": "api-docs"
  },

  "schemes": ["https", "http"],

  "host": "ivr-microservice-api.devtrust.biz",

  "basepath": "/",
  "tags": [
    {
      "name": "IVR Calling",
      "description": "end point"
    }
  ],

  "securityDefinitions": {
    "Authorization": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "API-DOCS "
    }
  },
  "security": [
    {
      "Authorization": []
    }
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/createEmployee": {
      "post": {
        "tags": ["EMPLOYEE API"],
        "summary": "This Api creates Employees ",
        "description": "it takes given  payload and give it to response ",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "emailId": {
                  "type": "string"
                },
                "applicationId": {
                  "type": "string"
                },
                "employeeNumber": {
                  "type": "string"
                },
                "payrollId": {
                  "type": "string"
                },
                "npi": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "middleName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "aliasName": {
                  "type": "string"
                },
                "gender": {
                  "type": "string"
                },
                "ssn": {
                  "type": "string"
                },
                "dateOfBirth": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "contactReference": {
                  "type": "string"
                },
                "skillCodes": {
                  "type": "string"
                },
                "backgroundCheck": {
                  "type": "string"
                },
                "training": {
                  "type": "string"
                },
                "education": {
                  "type": "string"
                },
                "identity": {
                  "type": "string"
                },
                "joiningDate": {
                  "type": "string"
                },
                "jobTitle": {
                  "type": "string"
                },
                "onboardingStage": {
                  "type": "string"
                },
                "payRates": {
                  "type": "string"
                },
                "employeePayor": {
                  "type": "string"
                },
                "customAttributes": {
                  "type": "string"
                },
                "workHistory": {
                  "type": "string"
                },
                "homeLocation": {
                  "type": "string"
                },
                "welcomeLetterDate": {
                  "type": "string"
                },
                "employeeStatus": {
                  "type": "string"
                },
                "rejectionReasonCode": {
                  "type": "string"
                },
                "rejectionNotes": {
                  "type": "string"
                },
                "relievingDate": {
                  "type": "string"
                },
                "reportingManagerId": {
                  "type": "string"
                },
                "lastUpdateduser": {
                  "type": "string"
                },
                "createTimestamp": {
                  "type": "string"
                },
                "updateTimestamp": {
                  "type": "string"
                },
                "isActive": {
                  "type": "string"
                },
                "reHired": {
                  "type": "string"
                },
                "rehiringHistory": {
                  "type": "string"
                },
                "renderingProviderEmpId": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "default": true
                },
                "data": {
                  "type": "object",
                  "example": {
                    "id": "b584a2e4-12c3-41d3-a2be-e8c458ed6d0b",
                    "payrollId": null,
                    "npi": null,
                    "title": null,
                    "firstName": "Amit",
                    "middleName": null,
                    "lastName": "Gupta",
                    "aliasName": null,
                    "gender": "Male",
                    "ssn": null,
                    "dateOfBirth": "2023-05-16",
                    "emailId": "amit.g@devtrust.biz",
                    "state": "UP",
                    "contactReference": "RE",
                    "skillCodes": null,
                    "backgroundCheck": null,
                    "training": null,
                    "education": "Master",
                    "identity": null,
                    "joiningDate": "2023-05-09",
                    "jobTitle": "Superviser",
                    "onboardingStage": null,
                    "payRates": null,
                    "employeePayor": null,
                    "customAttributes": null,
                    "workHistory": null,
                    "homeLocation": "Gomti nagar Lucknow",
                    "welcomeLetterDate": null,
                    "employeeStatus": null,
                    "rejectionReasonCode": null,
                    "rejectionNotes": null,
                    "relievingDate": null,
                    "reportingManagerId": null,
                    "lastUpdateduser": null,
                    "createTimestamp": null,
                    "updateTimestamp": null,
                    "isActive": "Active",
                    "reHired": null,
                    "rehiringHistory": null,
                    "renderingProviderEmpId": null,
                    "age": null,
                    "phoneNumber": "213213213213",
                    "passcode": "232",
                    "createdOn": "2023-05-31T11:36:36.883Z",
                    "EmployeeId": "60364447-bade-46dd-b0a6-651fed01b95c"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "succes": {
                  "type": "boolean",
                  "example": false
                },
                "result": {
                  "type": "object",
                  "example": "something went weong"
                }
              }
            }
          }
        }
      }
    },
    "/getEmployee": {
      "post": {
        "tags": ["EMPLOYEE API"],
        "summary": "This Api gives get  Emlpoyee data ",
        "description": "please provide in payload only id ",
        "parameters": [
          {
            "in": "body",
            "name": "request body",
            "required": true,
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },

                "result": {
                  "type": "object",
                  "example": {
                    "id": "b584a2e4-12c3-41d3-a2be-e8c458ed6d0b",
                    "payrollId": null,
                    "npi": null,
                    "title": null,
                    "firstName": "Amit",
                    "middleName": null,
                    "lastName": "Gupta",
                    "aliasName": null,
                    "gender": "Male",
                    "ssn": null,
                    "dateOfBirth": "2023-05-16",
                    "emailId": "amit.g@devtrust.biz",
                    "state": "UP",
                    "contactReference": "RE",
                    "skillCodes": null,
                    "backgroundCheck": null,
                    "training": null,
                    "education": "Master",
                    "identity": null,
                    "joiningDate": "2023-05-09",
                    "jobTitle": "Superviser",
                    "onboardingStage": null,
                    "payRates": null,
                    "employeePayor": null,
                    "customAttributes": null,
                    "workHistory": null,
                    "homeLocation": "Gomti nagar Lucknow",
                    "welcomeLetterDate": null,
                    "employeeStatus": null,
                    "rejectionReasonCode": null,
                    "rejectionNotes": null,
                    "relievingDate": null,
                    "reportingManagerId": null,
                    "lastUpdateduser": null,
                    "createTimestamp": null,
                    "updateTimestamp": null,
                    "isActive": "Active",
                    "reHired": null,
                    "rehiringHistory": null,
                    "renderingProviderEmpId": null,
                    "age": null,
                    "phoneNumber": "213213213213",
                    "passcode": "232",
                    "createdOn": "2023-05-31T11:36:36.883Z",
                    "EmployeeId": "60364447-bade-46dd-b0a6-651fed01b95c"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "message": {
                  "type": "string",
                  "example": "error message"
                },
                "result": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/getAllEmployee": {
      "post": {
        "tags": ["EMPLOYEE API"],
        "summary": "This Api gives All the data of  Em,lpoyee",
        "description": "",

        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },

                "result": {
                  "type": "object",
                  "example": [
                    {
                      "id": "b584a2e4-12c3-41d3-a2be-e8c458ed6d0b",
                      "payrollId": null,
                      "npi": null,
                      "title": null,
                      "firstName": "Amit",
                      "middleName": null,
                      "lastName": "Gupta",
                      "aliasName": null,
                      "gender": "Male",
                      "ssn": null,
                      "dateOfBirth": "2023-05-16",
                      "emailId": "amit.g@devtrust.biz",
                      "state": "UP",
                      "contactReference": "RE",
                      "skillCodes": null,
                      "backgroundCheck": null,
                      "training": null,
                      "education": "Master",
                      "identity": null,
                      "joiningDate": "2023-05-09",
                      "jobTitle": "Superviser",
                      "onboardingStage": null,
                      "payRates": null,
                      "employeePayor": null,
                      "customAttributes": null,
                      "workHistory": null,
                      "homeLocation": "Gomti nagar Lucknow",
                      "welcomeLetterDate": null,
                      "employeeStatus": null,
                      "rejectionReasonCode": null,
                      "rejectionNotes": null,
                      "relievingDate": null,
                      "reportingManagerId": null,
                      "lastUpdateduser": null,
                      "createTimestamp": null,
                      "updateTimestamp": null,
                      "isActive": "Active",
                      "reHired": null,
                      "rehiringHistory": null,
                      "renderingProviderEmpId": null,
                      "age": null,
                      "phoneNumber": "213213213213",
                      "passcode": "232",
                      "createdOn": "2023-05-31T11:36:36.883Z",
                      "EmployeeId": "60364447-bade-46dd-b0a6-651fed01b95c"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "message": {
                  "type": "string",
                  "example": "error message"
                },
                "result": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/deleteEmployee": {
      "post": {
        "tags": ["EMPLOYEE API"],
        "summary": "This api deletes Employee ",
        "description": "it takes id only and and id is an uuid",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "deleted successfully",
            "schema": {
              "type": "object",
              "properties": {
                "succes": {
                  "type": "boolean",
                  "example": true
                },
                "result": {
                  "type": "object",
                  "example": "deleted successfully"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "succes": {
                  "type": "boolean",
                  "example": false
                },
                "result": {
                  "type": "object",
                  "example": "something went weong"
                }
              }
            }
          }
        }
      }
    },
    "/updateEmployee": {
      "post": {
        "tags": ["EMPLOYEE API"],
        "summary": "This Api update the  Employees",
        "description": "it takes given  payload and give it to response ",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "emailId": {
                  "type": "string"
                },
                "applicationId": {
                  "type": "string"
                },
                "employeeNumber": {
                  "type": "string"
                },
                "payrollId": {
                  "type": "string"
                },
                "npi": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "firstName": {
                  "type": "string"
                },
                "middleName": {
                  "type": "string"
                },
                "lastName": {
                  "type": "string"
                },
                "aliasName": {
                  "type": "string"
                },
                "gender": {
                  "type": "string"
                },
                "ssn": {
                  "type": "string"
                },
                "dateOfBirth": {
                  "type": "string"
                },
                "state": {
                  "type": "string"
                },
                "contactReference": {
                  "type": "string"
                },
                "skillCodes": {
                  "type": "string"
                },
                "backgroundCheck": {
                  "type": "string"
                },
                "training": {
                  "type": "string"
                },
                "education": {
                  "type": "string"
                },
                "identity": {
                  "type": "string"
                },
                "joiningDate": {
                  "type": "string"
                },
                "jobTitle": {
                  "type": "string"
                },
                "onboardingStage": {
                  "type": "string"
                },
                "payRates": {
                  "type": "string"
                },
                "employeePayor": {
                  "type": "string"
                },
                "customAttributes": {
                  "type": "string"
                },
                "workHistory": {
                  "type": "string"
                },
                "homeLocation": {
                  "type": "string"
                },
                "welcomeLetterDate": {
                  "type": "string"
                },
                "employeeStatus": {
                  "type": "string"
                },
                "rejectionReasonCode": {
                  "type": "string"
                },
                "rejectionNotes": {
                  "type": "string"
                },
                "relievingDate": {
                  "type": "string"
                },
                "reportingManagerId": {
                  "type": "string"
                },
                "lastUpdateduser": {
                  "type": "string"
                },
                "createTimestamp": {
                  "type": "string"
                },
                "updateTimestamp": {
                  "type": "string"
                },
                "isActive": {
                  "type": "string"
                },
                "reHired": {
                  "type": "string"
                },
                "rehiringHistory": {
                  "type": "string"
                },
                "renderingProviderEmpId": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "success": {
                  "type": "boolean",
                  "default": true
                },
                "data": {
                  "type": "object",
                  "example": {
                    "id": "b584a2e4-12c3-41d3-a2be-e8c458ed6d0b",
                    "payrollId": null,
                    "npi": null,
                    "title": null,
                    "firstName": "Amit",
                    "middleName": null,
                    "lastName": "Gupta",
                    "aliasName": null,
                    "gender": "Male",
                    "ssn": null,
                    "dateOfBirth": "2023-05-16",
                    "emailId": "amit.g@devtrust.biz",
                    "state": "UP",
                    "contactReference": "RE",
                    "skillCodes": null,
                    "backgroundCheck": null,
                    "training": null,
                    "education": "Master",
                    "identity": null,
                    "joiningDate": "2023-05-09",
                    "jobTitle": "Superviser",
                    "onboardingStage": null,
                    "payRates": null,
                    "employeePayor": null,
                    "customAttributes": null,
                    "workHistory": null,
                    "homeLocation": "Gomti nagar Lucknow",
                    "welcomeLetterDate": null,
                    "employeeStatus": null,
                    "rejectionReasonCode": null,
                    "rejectionNotes": null,
                    "relievingDate": null,
                    "reportingManagerId": null,
                    "lastUpdateduser": null,
                    "createTimestamp": null,
                    "updateTimestamp": null,
                    "isActive": "Active",
                    "reHired": null,
                    "rehiringHistory": null,
                    "renderingProviderEmpId": null,
                    "age": null,
                    "phoneNumber": "213213213213",
                    "passcode": "232",
                    "createdOn": "2023-05-31T11:36:36.883Z",
                    "EmployeeId": "60364447-bade-46dd-b0a6-651fed01b95c"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "succes": {
                  "type": "boolean",
                  "example": false
                },
                "result": {
                  "type": "object",
                  "example": "something went weong"
                }
              }
            }
          }
        }
      }
    },
    "/filterEmployee": {
      "post": {
        "tags": ["EMPLOYEE API"],
        "summary": "This Api gives get  serach section where you can check out data by giving sort things  ",
        "description": "this api is filter the Employee name email pascode etch ",
        "parameters": [
          {
            "in": "body",
            "name": "request body",
            "required": true,
            "schema": {
              "properties": {
                "search": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": true
                },

                "result": {
                  "type": "object",
                  "example": [
                    {
                      "id": "b584a2e4-12c3-41d3-a2be-e8c458ed6d0b",
                      "payrollId": null,
                      "npi": null,
                      "title": null,
                      "firstName": "Amit",
                      "middleName": null,
                      "lastName": "Gupta",
                      "aliasName": null,
                      "gender": "Male",
                      "ssn": null,
                      "dateOfBirth": "2023-05-16",
                      "emailId": "amit.g@devtrust.biz",
                      "state": "UP",
                      "contactReference": "RE",
                      "skillCodes": null,
                      "backgroundCheck": null,
                      "training": null,
                      "education": "Master",
                      "identity": null,
                      "joiningDate": "2023-05-09",
                      "jobTitle": "Superviser",
                      "onboardingStage": null,
                      "payRates": null,
                      "employeePayor": null,
                      "customAttributes": null,
                      "workHistory": null,
                      "homeLocation": "Gomti nagar Lucknow",
                      "welcomeLetterDate": null,
                      "employeeStatus": null,
                      "rejectionReasonCode": null,
                      "rejectionNotes": null,
                      "relievingDate": null,
                      "reportingManagerId": null,
                      "lastUpdateduser": null,
                      "createTimestamp": null,
                      "updateTimestamp": null,
                      "isActive": "Active",
                      "reHired": null,
                      "rehiringHistory": null,
                      "renderingProviderEmpId": null,
                      "age": null,
                      "phoneNumber": "213213213213",
                      "passcode": "232",
                      "createdOn": "2023-05-31T11:36:36.883Z",
                      "EmployeeId": "60364447-bade-46dd-b0a6-651fed01b95c"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "properties": {
                "success": {
                  "type": "boolean",
                  "example": false
                },
                "message": {
                  "type": "string",
                  "example": "error message"
                },
                "result": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    }
  }
}
