{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "IVR CALLING PROGRAM",
    "description": "api-docs"
  },

  "schemes": ["https", "http"],

  "host": "ivr-microservice-api.devtrust.biz",

  "basepath": "/",
  "tags": [
    {
      "name": "IVR Calling",
      "description": "end point"
    }
  ],

  "securityDefinitions": {
    "Authorization": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "API-DOCS "
    }
  },
  "security": [
    {
      "Authorization": []
    }
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/createServices": {
      "post": {
        "tags": ["SERVICES API"],
        "summary": "This Api creates SERVICES ",
        "description": "it takes given  payload and give it to response, uuid is taskId  ",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "serviceName": {
                  "type": "string",
                  "required": true
                },
                "task": {
                  "type": "object",
                  "required": true,
                  "example": [
                    {
                      "task": "uuid"
                    },
                    {
                      "task": "uuid"
                    },
                    {
                      "task": "uuid"
                    }
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "id": "9266169e-75c5-4c5e-8a9d-b873a7529e26",
                      "serviceName": "ivr calling system",
                      "task": [
                        {
                          "task": "c584312c-3809-4aaf-b7b7-8192842543b9"
                        },
                        {
                          "task": "770a8071-b24d-41a6-947c-f6ade51349d7"
                        },
                        {
                          "task": "97e4cd40-367b-45f8-be43-1ef49bd0e7d6"
                        }
                      ],
                      "createdOn": "2023-05-24T11:51:15.040Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "succes": false,
                    "result": "data not created"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getServices": {
      "post": {
        "tags": ["SERVICES API"],
        "summary": "This Api gives get  services data ",
        "description": "please provide in payload only id ",
        "parameters": [
          {
            "in": "body",
            "name": "request body",
            "required": true,
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "id": "9266169e-75c5-4c5e-8a9d-b873a7529e26",
                      "serviceName": "ivr calling system",
                      "task": [
                        {
                          "task": "c584312c-3809-4aaf-b7b7-8192842543b9"
                        },
                        {
                          "task": "770a8071-b24d-41a6-947c-f6ade51349d7"
                        },
                        {
                          "task": "97e4cd40-367b-45f8-be43-1ef49bd0e7d6"
                        }
                      ],
                      "createdOn": "2023-05-24T11:51:15.040Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "succes": false,
                    "result": "data not found"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAllServices": {
      "post": {
        "tags": ["SERVICES API"],
        "summary": "This Api gives All the data of  services",
        "description": "",

        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "id": "9266169e-75c5-4c5e-8a9d-b873a7529e26",
                        "serviceName": "ivr calling system",
                        "task": [
                          {
                            "task": "c584312c-3809-4aaf-b7b7-8192842543b9"
                          },
                          {
                            "task": "770a8071-b24d-41a6-947c-f6ade51349d7"
                          },
                          {
                            "task": "97e4cd40-367b-45f8-be43-1ef49bd0e7d6"
                          }
                        ],
                        "createdOn": "2023-05-24T11:51:15.040Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "succes": false,
                    "result": "data not deleted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteServices": {
      "post": {
        "tags": ["SERVICES API"],
        "summary": "This api deletes Services ",
        "description": "it takes id only and and id is an uuid",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "deleted successfully",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "date": {
                      "raw": [],
                      "affected": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "succes": false,
                    "result": "data not found"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateServices": {
      "post": {
        "tags": ["SERVICES API"],
        "summary": "This Api update the  Servicess",
        "description": "it takes given  payload and give it to response ",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "serviceName": {
                  "type": "string",
                  "required": true
                },
                "task": {
                  "type": "object",
                  "required": true,
                  "example": [
                    {
                      "task": "uuid"
                    },
                    {
                      "task": "uuid"
                    },
                    {
                      "task": "uuid"
                    }
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "id": "9266169e-75c5-4c5e-8a9d-b873a7529e26",
                      "serviceName": "ivr calling system",
                      "task": [
                        {
                          "task": "c584312c-3809-4aaf-b7b7-8192842543b9"
                        },
                        {
                          "task": "770a8071-b24d-41a6-947c-f6ade51349d7"
                        },
                        {
                          "task": "97e4cd40-367b-45f8-be43-1ef49bd0e7d6"
                        }
                      ],
                      "createdOn": "2023-05-24T11:51:15.040Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "succes": false,
                    "result": "data not updated"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
