{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "IVR CALLING PROGRAM",
    "description": "api-docs"
  },

  "schemes": ["https", "http"],

  "host": "ivr-microservice-api.devtrust.biz",

  "basepath": "/",
  "tags": [
    {
      "name": "IVR Calling",
      "description": "end point"
    }
  ],

  "securityDefinitions": {
    "Authorization": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "API-DOCS "
    }
  },
  "security": [
    {
      "Authorization": []
    }
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/createState": {
      "post": {
        "tags": ["STATE API"],
        "summary": "This Api creates state ",
        "description": "it takes given  payload and give it to response ",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "STATE_CODE": {
                  "type": "string",
                  "required": true
                },
                "STATE_NAME": {
                  "type": "string",
                  "required": true
                },
                "COUNTRY_ID": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "STATE_CODE": "679",
                      "STATE_NAME": "UP",
                      "COUNTRY_ID": "17210fd8-e25d-4577-b6f2-80480ebb2974",
                      "id": "8aed7f40-59ac-470d-8d67-9dea8f634805",
                      "createdOn": "2023-05-23T05:48:54.873Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "succes": false,
                    "result": "data not created"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getState": {
      "post": {
        "tags": ["STATE API"],
        "summary": "This Api gives get  state data ",
        "description": "please provide in payload only id ",
        "parameters": [
          {
            "in": "body",
            "name": "request body",
            "required": true,
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "STATE_CODE": "679",
                      "STATE_NAME": "UP",
                      "COUNTRY_ID": "17210fd8-e25d-4577-b6f2-80480ebb2974",
                      "id": "8aed7f40-59ac-470d-8d67-9dea8f634805",
                      "createdOn": "2023-05-23T05:48:54.873Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "succes": false,
                    "result": "data not found"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAllState": {
      "post": {
        "tags": ["STATE API"],
        "summary": "This Api gives All the data of  state",
        "description": "",

        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "STATE_CODE": "679",
                        "STATE_NAME": "UP",
                        "COUNTRY_ID": "17210fd8-e25d-4577-b6f2-80480ebb2974",
                        "id": "8aed7f40-59ac-470d-8d67-9dea8f634805",
                        "createdOn": "2023-05-23T05:48:54.873Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "succes": false,
                    "result": "data not deleted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteState": {
      "post": {
        "tags": ["STATE API"],
        "summary": "This api deletes State ",
        "description": "it takes id only and and id is an uuid",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "deleted successfully",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "date": {
                      "raw": [],
                      "affected": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "succes": false,
                    "result": "data not found"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateState": {
      "post": {
        "tags": ["STATE API"],
        "summary": "This Api update the  States",
        "description": "it takes given  payload and give it to response ",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "STATE_CODE": {
                  "type": "string",
                  "required": true
                },
                "STATE_NAME": {
                  "type": "string",
                  "required": true
                },
                "COUNTRY_ID": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "STATE_CODE": "679",
                      "STATE_NAME": "UP",
                      "COUNTRY_ID": "17210fd8-e25d-4577-b6f2-80480ebb2974",
                      "id": "8aed7f40-59ac-470d-8d67-9dea8f634805",
                      "createdOn": "2023-05-23T05:48:54.873Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "succes": false,
                    "result": "data not updated"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
