{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "IVR CALLING PROGRAM",
    "description": "api-docs"
  },

  "schemes": ["https", "http"],

  "host": "ivr-microservice-api.devtrust.biz",

  "basepath": "/",
  "tags": [
    {
      "name": "IVR Calling",
      "description": "end point"
    }
  ],

  "securityDefinitions": {
    "Authorization": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization",
      "description": "API-DOCS "
    }
  },
  "security": [
    {
      "Authorization": []
    }
  ],
  "consumes": ["application/json"],
  "produces": ["application/json"],
  "paths": {
    "/createTask": {
      "post": {
        "tags": ["TASK API"],
        "summary": "This Api creates task ",
        "description": "it takes given  payload and give it to response ",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "taskCategory": { "type": "string" },
                "taskType": { "type": "string" },
                "taskParams": { "type": "string" },
                "taskDescription": { "type": "string" },
                "requestStorageLocation": { "type": "string" },
                "requestObjectName": { "type": "string" },
                "requestBucketName": { "type": "string" },
                "requestFileName": { "type": "string" },
                "completionTimestamp": { "type": "string" },
                "requestingEntityId": { "type": "string" },
                "requestTimestamp": { "type": "string" },
                "targetTenantId": { "type": "string" },
                "taskStatus": { "type": "string" },
                "processingErrorCode": { "type": "string" },
                "processingErrorParams": { "type": "string" },
                "responseContentType": { "type": "string" },
                "responseStorageLocation": { "type": "string" },
                "responseObjectName": { "type": "string" },
                "responseBucketName": { "type": "string" },
                "responseFileName": { "type": "string" }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "id": "9dba1499-d516-4842-bd5f-686e35caff9d",
                      "taskCategory": "calling",
                      "taskType": "ptp",
                      "taskParams": "pp",
                      "taskDescription": "please call the cops",
                      "requestStorageLocation": "string",
                      "requestObjectName": "string",
                      "requestBucketName": "string",
                      "requestFileName": "string",
                      "completionTimestamp": "string",
                      "requestingEntityId": "string",
                      "requestTimestamp": "string",
                      "targetTenantId": "string",
                      "taskStatus": "string",
                      "processingErrorCode": "string",
                      "processingErrorParams": "string",
                      "responseContentType": "string",
                      "responseStorageLocation": "string",
                      "responseObjectName": "string",
                      "responseBucketName": "string",
                      "responseFileName": "string",
                      "createdOn": "2023-05-23T11:38:27.123Z",
                      "updateOn": "2023-05-23T11:38:27.123Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "succes": false,
                    "result": "data not created"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getTask": {
      "post": {
        "tags": ["TASK API"],
        "summary": "This Api gives get  Task data ",
        "description": "please provide in payload only id ",
        "parameters": [
          {
            "in": "body",
            "name": "request body",
            "required": true,
            "schema": {
              "properties": {
                "id": {
                  "type": "string",
                  "required": true
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "id": "9dba1499-d516-4842-bd5f-686e35caff9d",
                      "taskCategory": "calling",
                      "taskType": "ptp",
                      "taskParams": "pp",
                      "taskDescription": "please call the cops",
                      "requestStorageLocation": "string",
                      "requestObjectName": "string",
                      "requestBucketName": "string",
                      "requestFileName": "string",
                      "completionTimestamp": "string",
                      "requestingEntityId": "string",
                      "requestTimestamp": "string",
                      "targetTenantId": "string",
                      "taskStatus": "string",
                      "processingErrorCode": "string",
                      "processingErrorParams": "string",
                      "responseContentType": "string",
                      "responseStorageLocation": "string",
                      "responseObjectName": "string",
                      "responseBucketName": "string",
                      "responseFileName": "string",
                      "createdOn": "2023-05-23T11:38:27.123Z",
                      "updateOn": "2023-05-23T11:38:27.123Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "succes": false,
                    "result": "data not found"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/getAllTask": {
      "post": {
        "tags": ["TASK API"],
        "summary": "This Api gives All the data of  Task",
        "description": "",

        "responses": {
          "200": {
            "description": "success",
            "schema": {
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": [
                      {
                        "id": "9dba1499-d516-4842-bd5f-686e35caff9d",
                        "taskCategory": "calling",
                        "taskType": "ptp",
                        "taskParams": "pp",
                        "taskDescription": "please call the cops",
                        "requestStorageLocation": "string",
                        "requestObjectName": "string",
                        "requestBucketName": "string",
                        "requestFileName": "string",
                        "completionTimestamp": "string",
                        "requestingEntityId": "string",
                        "requestTimestamp": "string",
                        "targetTenantId": "string",
                        "taskStatus": "string",
                        "processingErrorCode": "string",
                        "processingErrorParams": "string",
                        "responseContentType": "string",
                        "responseStorageLocation": "string",
                        "responseObjectName": "string",
                        "responseBucketName": "string",
                        "responseFileName": "string",
                        "createdOn": "2023-05-23T11:38:27.123Z",
                        "updateOn": "2023-05-23T11:38:27.123Z"
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "succes": false,
                    "result": "data not deleted"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/deleteTask": {
      "post": {
        "tags": ["TASK API"],
        "summary": "This api deletes Task ",
        "description": "it takes id only and and id is an uuid",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "deleted successfully",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "date": {
                      "raw": [],
                      "affected": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "succes": false,
                    "result": "data not found"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/updateTask": {
      "post": {
        "tags": ["TASK API"],
        "summary": "This Api update the  Tasks",
        "description": "it takes given  payload and give it to response ",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },

                "taskCategory": { "type": "string" },
                "taskType": { "type": "string" },
                "taskParams": { "type": "string" },
                "taskDescription": { "type": "string" },
                "requestStorageLocation": { "type": "string" },
                "requestObjectName": { "type": "string" },
                "requestBucketName": { "type": "string" },
                "requestFileName": { "type": "string" },
                "completionTimestamp": { "type": "string" },
                "requestingEntityId": { "type": "string" },
                "requestTimestamp": { "type": "string" },
                "targetTenantId": { "type": "string" },
                "taskStatus": { "type": "string" },
                "processingErrorCode": { "type": "string" },
                "processingErrorParams": { "type": "string" },
                "responseContentType": { "type": "string" },
                "responseStorageLocation": { "type": "string" },
                "responseObjectName": { "type": "string" },
                "responseBucketName": { "type": "string" },
                "responseFileName": { "type": "string" }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "success": true,
                    "data": {
                      "id": "9dba1499-d516-4842-bd5f-686e35caff9d",
                      "taskCategory": "calling",
                      "taskType": "ptp",
                      "taskParams": "pp",
                      "taskDescription": "please call the cops",
                      "requestStorageLocation": "string",
                      "requestObjectName": "string",
                      "requestBucketName": "string",
                      "requestFileName": "string",
                      "completionTimestamp": "string",
                      "requestingEntityId": "string",
                      "requestTimestamp": "string",
                      "targetTenantId": "string",
                      "taskStatus": "string",
                      "processingErrorCode": "string",
                      "processingErrorParams": "string",
                      "responseContentType": "string",
                      "responseStorageLocation": "string",
                      "responseObjectName": "string",
                      "responseBucketName": "string",
                      "responseFileName": "string",
                      "createdOn": "2023-05-23T11:38:27.123Z",
                      "updateOn": "2023-05-23T11:38:27.123Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "type": "object",
              "properties": {
                "data": {
                  "type": "object",
                  "example": {
                    "succes": false,
                    "result": "data not updated"
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
